$backgroundColor: #f8f9fa;
$cardColor: #fff;
$textColor: #343a40;
$boxShadowColor: #e9ecef;

.director {
  background-color: $cardColor;
  margin-top: 0px;
  box-shadow: none;
}

.director-title {
  color: $textColor;
}

.director-content {
  color: $textColor;
}

.director-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
}
